<h2 class="ui huge header mb-3">
  <i class="coffee orange icon"></i>
  <div class="content huge">
    Chatroom
    <div class="sub header">Say something!</div>
  </div>
</h2>
<div class="ui column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <%= image_tag('avatar/matt.jpg') %>
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <%= image_tag('avatar/elliot.jpg') %>
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <%= image_tag('avatar/joe.jpg') %>
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 days ago</span>
              </div>
              <div class="text">
                Dude, this is awesome. Thanks so much
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="ui fluid action input">
            <input type="text" placeholder="Hi!...">
            <button class="ui orange button">
              <i class="paper plane outline icon"></i>
              Send
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="four wide column">
    <div class="ui vertical fluid menu chatbox">
      <div class="header item">Online Users</div>
      <a class="teal item">
        Inbox
      </a>
      <a class="item">
        Spam
      </a>
      <a class="item">
        Updates
      </a>
    </div>
  </div>
</div>