<h2 class="ui huge header mb-3">
  <i class="coffee orange icon"></i>
  <div class="content huge">
    Chatroom
    <div class="sub header">Say something!</div>
  </div>
</h2>
<div class="ui column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content">
        <div class="ui comments">
          <% @messages.each do |m| %>
            <%= render 'message', message: m %>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="ui fluid action input">
            <input type="text" placeholder="Hi!...">
            <button class="ui orange button">
              <i class="paper plane outline icon"></i>
              Send
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="four wide column">
    <div class="ui vertical fluid menu chatbox">
      <div class="header item">Online Users</div>
      <a class="teal item">
        Inbox
      </a>
      <a class="item">
        Spam
      </a>
      <a class="item">
        Updates
      </a>
    </div>
  </div>
</div>