<h2 class="ui huge header mb-3">
  <i class="coffee orange icon"></i>
  <div class="content huge">
    Chatroom
    <div class="sub header">Say something!</div>
  </div>
</h2>
<div class="ui column grid">
  <div class="twelve wide column" >
    <div class="ui fluid card chatbox">
      <div class="content" id="msg-cont">
        <div class="ui comments" id="messages">
          <% @messages.each do |m| %>
            <%= render 'message', message: m %>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with(model: @message, html: { class: 'ui reply form' }, remote: true, url: message_path) do |f| %>
          <div class="ui fluid action input">
            <%= f.text_field :body, placeholder: 'Hi!...', autofocus: true  %>
            <%= f.button '<i class="paper plane outline icon"></i> Send'.html_safe, class: 'ui orange button'%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="four wide column">
    <div class="ui vertical fluid menu chatbox">
      <div class="header item">Online Users</div>
      <a class="teal item">
        Inbox
      </a>
      <a class="item">
        Spam
      </a>
      <a class="item">
        Updates
      </a>
    </div>
  </div>
</div>