<div class="ui inverted masthead center aligned segment">
  <div class="ui text container middle aligned">
    <h1 class="ui inverted header">
      <i class="comments orange icon"></i>
      MessageMe
    </h1>
    <h2>Chat with 1000+ of people!</h2>
    <%= link_to(login_path, class: "ui huge orange button mt-3") do %>
      Get Started
      <i class="right arrow icon"></i>
    <% end %>
    <div class=></div>
  </div>
</div>
<div class="ui two cards">
  <div class="grey padded card">
    <div class="content">
      <div class="header">Chat and have fun!</div>
      <div class="meta">With our central chat room</div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum doloremque facere repellendus
        voluptates! Beatae dolorem, illum? Autem id iure perspiciatis? Consequatur deserunt, exercitationem ipsa magnam
        quia quos sint vel?
      </div>
    </div>
    <div class="extra content">
      <button class="ui green inverted button right floated">Learn more... <i class="right arrow icon"></i></button>
    </div>
  </div>
  <div class="orange card">
    <div class="content">
      <div class="header">Share it with your friends!</div>
      <div class="meta">Link below</div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio possimus provident tempora tenetur?
        Atque beatae enim id minima necessitatibus numquam veniam?
      </div>
    </div>
    <div class="extra content">
      <button class="ui green inverted button right floated">Share <i class="right arrow icon"></i></button>
    </div>
  </div>
</div>